# Tasking Data Processing
To pull from Splunk:

```
index="" host="" sourcetype=""
| search "Received Status Update"
| rex field=_raw "itemIds:\[(?<skuNo>\d+)\]"
| rex field=_raw "pickLocationEmptyConfidence:.*?statusCode:(?<statusCode>\d+), statusDetail:,"
| rex field=_raw "customerTaskId:(?<taskID>\w+), itemIds"
| rex field=_raw "customerTaskId:\d{3}_(?<stationID>\d+)_"
| rex field=_raw "\"suction_cup_name\":\"(?<suctionCupName>\w+)\""
| rex field=_raw "commandUtime:(?<ctime>\d+)\}"
| eval commandTime = strftime(ctime/1000000,"%Y-%m-%d %H:%M:%S")
| dedup skuNo, statusCode, taskID, ctime keepempty=true consecutive=false
| table skuNo, statusCode, stationID, taskID, suctionCupName, ctime, commandTime
```

# Process the raw tasking data
* Read the data from csv
* Get the cup configuration from the previous task
* Remove UPC error and pause state

In [22]:
import csv
import os
import pathlib
import datetime
fname = 'rhr_tasks_0201_0911.csv'
fpath = pathlib.Path(os.getcwd()) / fname

In [23]:
class Task:
    def __init__(self, sku, status, stationId, taskId, suctionCup, ctime, commandTime):
        self.sku = sku
        self.status = status
        self.stationId = stationId
        self.taskId = taskId
        self.suctionCup = suctionCup
        self.ctime = int(ctime)
        self.commandTime = datetime.datetime.strptime(commandTime, '%Y-%m-%d %H:%M:%S')
        
    def __str__(self):
        return ','.join([k+':'+str(v) for k, v in vars(self).items()])

In [24]:
raws = []
with open(fpath, 'r') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        if row[0] == '' or row[0] is None:
            continue
        try:
            raws.append(Task(row[0], row[1], row[2], row[3], row[4], row[5], row[6]))
        except Exception as e:
            print(e)

invalid literal for int() with base 10: 'ctime'

In [25]:
# sort raw
def sort_raw(raw:Task):
    return (raw.stationId, raw.ctime)
raws = sorted(raws, key=sort_raw)

In [26]:
len(raws)

276465

In [27]:
[print(x) for x in raws[0:5]]

sku:2145184,status:200399,stationId:44,taskId:173_44_14638577_19570783_1_13713437_33151_1478039_1_402546_1_1,suctionCup:,ctime:1686581226633130,commandTime:2023-06-12 10:47:00
sku:2145184,status:200302,stationId:44,taskId:173_44_14638581_19570798_1_13713437_33151_1478039_1_402547_1_1,suctionCup:small,ctime:1686581351901894,commandTime:2023-06-12 10:49:00
sku:2145184,status:200399,stationId:44,taskId:173_44_14638581_19570798_1_13713437_33151_1478039_1_402547_1_1,suctionCup:,ctime:1686581356220168,commandTime:2023-06-12 10:49:00
sku:24402489,status:200302,stationId:44,taskId:173_44_14638487_19569868_1_13713433_319_1471834_1_402606_1_1,suctionCup:mini,ctime:1686581726849315,commandTime:2023-06-12 10:55:00
sku:24402489,status:200399,stationId:44,taskId:173_44_14638487_19569868_1_13713433_319_1471834_1_402606_1_1,suctionCup:,ctime:1686581738293651,commandTime:2023-06-12 10:55:00

[None, None, None, None, None]

In [28]:
# remove pause and UPC error tasks and take the suction cup from previous tasks
tasks = []
suctionCup = None
for task in raws:
    suctionCup = task.suctionCup if task.suctionCup != '' else suctionCup
    if task.status != '200302' and task.status != '200451':
        tasks.append(Task(task.sku, task.status, task.stationId, task.taskId, suctionCup, task.ctime, datetime.datetime.strftime(task.commandTime, '%Y-%m-%d %H:%M:%S')))

In [29]:
len(tasks)

142456

In [30]:
[print(x) for x in tasks[0:10]]

sku:2145184,status:200399,stationId:44,taskId:173_44_14638577_19570783_1_13713437_33151_1478039_1_402546_1_1,suctionCup:None,ctime:1686581226633130,commandTime:2023-06-12 10:47:00
sku:2145184,status:200399,stationId:44,taskId:173_44_14638581_19570798_1_13713437_33151_1478039_1_402547_1_1,suctionCup:small,ctime:1686581356220168,commandTime:2023-06-12 10:49:00
sku:24402489,status:200399,stationId:44,taskId:173_44_14638487_19569868_1_13713433_319_1471834_1_402606_1_1,suctionCup:mini,ctime:1686581738293651,commandTime:2023-06-12 10:55:00
sku:24408522,status:200399,stationId:44,taskId:173_44_14638572_19570752_1_13713440_10574_1479464_1_402567_1_1,suctionCup:large_type2,ctime:1686582213989421,commandTime:2023-06-12 11:03:00
sku:24408522,status:200399,stationId:44,taskId:173_44_14638583_19570806_1_13713440_10574_1479464_1_402568_1_1,suctionCup:large_type2,ctime:1686582248988658,commandTime:2023-06-12 11:04:00
sku:24408522,status:200441,stationId:44,taskId:173_44_14638586_19570890_1_13713440_10574_1479464_1_402569_1_1,suctionCup:large_type2,ctime:1686582257911648,commandTime:2023-06-12 11:04:00
sku:24408522,status:200399,stationId:44,taskId:173_44_14638586_19570890_1_13713440_10574_1479464_1_402569_1_1,suctionCup:large_type2,ctime:1686582295084448,commandTime:2023-06-12 11:04:00
sku:24422094,status:200399,stationId:44,taskId:173_44_14638459_19566919_1_13713422_16626_1474401_1_402595_1_1,suctionCup:large_type2,ctime:1686582310447777,commandTime:2023-06-12 11:05:00
sku:24422094,status:200399,stationId:44,taskId:173_44_14638561_19570496_1_13713422_16626_1474401_1_402596_1_1,suctionCup:large_type2,ctime:1686582379303401,commandTime:2023-06-12 11:06:00
sku:24422094,status:200399,stationId:44,taskId:173_44_14638574_19570774_1_13713422_16626_1474401_1_402597_1_1,suctionCup:large_type2,ctime:1686582397950221,commandTime:2023-06-12 11:06:00

[None, None, None, None, None, None, None, None, None, None]

# Aggregate the data into SKU/CUP level for the AB test

First need to calculate by SKU and cup, what is the success rate

In [31]:
import pandas as pd

In [32]:
df_tasks = pd.DataFrame([vars(t) for t in tasks])

In [33]:
df_tasks.head()

,sku,status,stationId,taskId,suctionCup,ctime,commandTime
0,2145184,200399,44,173_44_14638577_19570783_1_13713437_33151_1478...,None,1686581226633130,2023-06-12 10:47:00
1,2145184,200399,44,173_44_14638581_19570798_1_13713437_33151_1478...,small,1686581356220168,2023-06-12 10:49:00
2,24402489,200399,44,173_44_14638487_19569868_1_13713433_319_147183...,mini,1686581738293651,2023-06-12 10:55:00
3,24408522,200399,44,173_44_14638572_19570752_1_13713440_10574_1479...,large_type2,1686582213989421,2023-06-12 11:03:00
4,24408522,200399,44,173_44_14638583_19570806_1_13713440_10574_1479...,large_type2,1686582248988658,2023-06-12 11:04:00

In [34]:
df_tasks['success'] = df_tasks['status'].apply(lambda x: True if x == '200399' else False)

In [35]:
df_tasks.sample(10)

,sku,status,stationId,taskId,suctionCup,ctime,commandTime,success
52738,710210,200399,44,173_44_16037580_21327224_1_15080448_28662_1581...,large_type2,1692313169558611,2023-08-17 18:59:00,True
38975,209882,200441,44,173_44_15726133_20961680_1_14785454_20274_1597...,large_type2,1691154979740740,2023-08-04 09:16:00,False
81854,559215,200399,45,174_45_14836841_19857162_1_13910400_34056_1499...,small,1687456758720408,2023-06-22 13:59:00,True
101185,513186,200441,45,174_45_15431404_20608387_1_14494338_16336_1538...,mini,1690213400317618,2023-07-24 11:43:00,False
24732,24388084,200399,44,173_44_15365920_20543533_1_14421118_17565_1558...,large_type2,1689862230777579,2023-07-20 10:10:00,True
32020,24384008,200399,44,173_44_15569548_20778863_1_14627340_26097_1459...,small,1690564173418246,2023-07-28 13:09:00,True
121293,166751,200399,45,174_45_16021228_21312363_1_15068872_13264_1620...,large_type2,1692289246694315,2023-08-17 12:20:00,True
125820,854518,200450,45,174_45_16183767_21491817_1_15219666_36281_1628...,small,1692876338891881,2023-08-24 07:25:00,False
5797,2140574,200399,44,173_44_14829211_19848735_1_13904024_32795_1493...,small,1687436515312187,2023-06-22 08:21:00,True
26576,917881,200399,44,173_44_15418053_20600716_1_14472209_20857_1555...,large_type2,1689978919089820,2023-07-21 18:35:00,True

In [36]:
df = df_tasks.groupby(['sku','suctionCup'], sort=True).agg(p=pd.NamedAgg(column='success', aggfunc=lambda x: sum(x)/len(x)), n=pd.NamedAgg(column='success', aggfunc='count'))
df = df.reset_index()
df = df.sort_values(by='n', ascending=False)

In [37]:
df.head(20)

           sku   suctionCup         p     n
1154   2030289  large_type2  0.644594  1933
2109  24388084  large_type2  0.901363  1541
5643    512663        small  0.997188  1067
2116  24388284        small  0.875648   965
1360   2145184        small  0.933893   953
8070    917881  large_type2  0.923341   874
610    1611435        small  0.638539   794
1264    209882  large_type1  0.745718   759
1358   2145184  large_type2  0.968839   706
2115  24388284  large_type2  0.948760   605
5075    451078  large_type2  0.761739   575
7780    867474  large_type2  0.566004   553
2615  24430099        small  0.761194   536
2609  24430096        small  0.878505   535
5334    487908  large_type2  0.943867   481
7779    867473  large_type2  0.608051   472
2363  24408522  large_type2  0.904977   442
7680    860124  large_type2  0.850917   436
146     108230  large_type2  0.913349   427
8050    917860  large_type2  0.802817   426

## Need to find the SKUs picked with more than one cup

In [38]:
df_filtered = df[(df['p'] > 0) & (df['n'] >= 20)]

In [39]:
df_filtered = df_filtered[df_filtered['sku'].duplicated(keep=False)].sort_values(by='sku', ascending=False)

In [40]:
df_filtered = df_filtered[df_filtered['sku'].duplicated(keep=False)].sort_values(by='n', ascending=False)

In [41]:
df_filtered[0:30]

           sku   suctionCup         p     n
5643    512663        small  0.997188  1067
2116  24388284        small  0.875648   965
1360   2145184        small  0.933893   953
610    1611435        small  0.638539   794
1264    209882  large_type1  0.745718   759
1358   2145184  large_type2  0.968839   706
2115  24388284  large_type2  0.948760   605
2615  24430099        small  0.761194   536
2609  24430096        small  0.878505   535
8050    917860  large_type2  0.802817   426
1350   2140574        small  0.763723   419
6981    737194  large_type1  0.973333   375
305    1182803        small  0.611860   371
3405   2498462  large_type2  0.970190   369
3791   2724258        small  0.565934   364
892    1789476        small  0.788162   321
2793  24460346        small  0.946541   318
5642    512663  large_type2  1.000000   300
5167    465914  large_type1  0.754209   297
1265    209882  large_type2  0.627119   295
619    1611539        small  0.704120   267
621    1612062        small  0.872180   266
608    1611435  large_type2  0.555985   259
3072  24502578        small  0.575397   252
6411    650531        small  0.700000   250
7720    863057        small  0.642276   246
2795  24460350        small  0.707317   246
6409    650499        small  0.768908   238
7066    753915        small  0.801724   232
6044    600859        small  0.771300   223

### SKU 24430099
* baseline = 0.855932
* dmin = baseline*0.15
* alpha = 0.05
* power = 0.8

Size = 121

In [42]:
df_filtered[df_filtered['sku'] == '24430099']

           sku   suctionCup         p    n
2615  24430099        small  0.761194  536
2613  24430099  large_type2  0.554545  220
2614  24430099         mini  0.681818   44

### SKU 1611435
* baseline = 0.787136
* dmin = baseline*0.15
* alpha = 0.05
* power = 0.8

Size = 196

In [43]:
df_filtered[df_filtered['sku'] == '1611435']

         sku   suctionCup         p    n
610  1611435        small  0.638539  794
608  1611435  large_type2  0.555985  259
609  1611435         mini  0.670455   88

In [44]:
sku_counts = df_filtered['sku'].value_counts()

# Filter SKUs that have appeared more than once
skus_appeared_more_than_once = sku_counts[sku_counts > 1]
len(skus_appeared_more_than_once)

# only 201 skus has two suction cup configured and has at least 20 sample points per group

201

## Find SKUs that have enough sample points to be compared in AB test.

In [45]:
from ABTestToolKit import get_sample_size


alpha = 0.05
power = 0.8
eligible_combo = []


for sku in df_filtered['sku'].unique():
    df_sku = df_filtered[df_filtered['sku'] == sku]
    n_cup = len(df_sku)
    
    for i in range(n_cup-1):
        con = df_sku[df_sku['p'] == df_sku['p'].max()]
        exp = df_sku[df_sku['p'] == df_sku['p'].nlargest(i+2).values[-1]]

        # param
        n_ctl = con['n'].values[0]
        n_exp = exp['n'].values[0]
        baseline = con['p'].values[0]
        p_exp = exp['p'].values[0]
        dmin = baseline*0.15

        # calculate size for AB test
        try:
            n = get_sample_size(alpha, power, dmin, baseline)
        except Exception as e:
            print(f"sku {sku} couldn't be measured with bl {baseline} and dmin {dmin}")
            continue

        # add eligible skus to the list
        if con['n'].values[0] >= n and exp['n'].values[0] >= n:
            print(f"sku {sku} can be measured with bl {baseline}, dmin {dmin} and n {n} ")
            eligible_combo.append((sku, n_ctl, n_exp, baseline, p_exp, dmin))

sku 512663 can be measured with bl 1.0, dmin 0.15 and n 38
sku 24388284 can be measured with bl 0.9487603305785124, dmin 0.14231404958677685 and n 65
sku 2145184 can be measured with bl 0.9688385269121813, dmin 0.1453257790368272 and n 54
sku 209882 can be measured with bl 0.7457180500658761, dmin 0.11185770750988142 and n 211
sku 24430099 can be measured with bl 0.7611940298507462, dmin 0.11417910447761193 and n 197
sku 24430096 can be measured with bl 0.9690721649484536, dmin 0.14536082474226802 and n 54
sku 737194 can be measured with bl 0.9858156028368794, dmin 0.1478723404255319 and n 45
sku 2498462 can be measured with bl 0.9701897018970189, dmin 0.14552845528455283 and n 53
sku 24460346 can be measured with bl 0.9465408805031447, dmin 0.1419811320754717 and n 66
sku 41302 can be measured with bl 0.883177570093458, dmin 0.1324766355140187 and n 105
sku 487129 can be measured with bl 0.828125, dmin 0.12421874999999999 and n 143
sku 633858 can be measured with bl 0.9629629629629629, dmin 0.14444444444444443 and n 57
sku 24395762 can be measured with bl 0.9411764705882353, dmin 0.1411764705882353 and n 69
sku 918408 can be measured with bl 0.9866666666666667, dmin 0.148 and n 44
sku 483018 can be measured with bl 0.9512195121951219, dmin 0.14268292682926828 and n 64
sku 24414102 can be measured with bl 0.9621212121212122, dmin 0.14431818181818182 and n 58
sku 24414102 can be measured with bl 0.9621212121212122, dmin 0.14431818181818182 and n 58
sku 504688 can be measured with bl 0.953125, dmin 0.14296875 and n 63
sku 220061 can be measured with bl 0.9423076923076923, dmin 0.14134615384615384 and n 69
sku 24502580 can be measured with bl 1.0, dmin 0.15 and n 38
sku 455462 can be measured with bl 0.9438202247191011, dmin 0.14157303370786517 and n 68
sku 429174 can be measured with bl 0.9625, dmin 0.144375 and n 57
sku 808094 can be measured with bl 0.9838709677419355, dmin 0.14758064516129032 and n 46
sku 123729 can be measured with bl 1.0, dmin 0.15 and n 38
sku 867590 can be measured with bl 1.0, dmin 0.15 and n 38
sku 24402489 can be measured with bl 1.0, dmin 0.15 and n 38
sku 807969 can be measured with bl 1.0, dmin 0.15 and n 38
sku 2126870 can be measured with bl 0.9814814814814815, dmin 0.14722222222222223 and n 47

In [46]:
len(eligible_combo)

28

In [47]:
print("sku, n_con, n_exp, p_con, p_exp")
for x in eligible_combo:
    print(x[0], x[1], x[2], x[3], x[4])

sku, n_con, n_exp, p_con, p_exp
512663 300 1067 1.0 0.9971883786316776
24388284 605 965 0.9487603305785124 0.8756476683937824
2145184 706 953 0.9688385269121813 0.9338929695697796
209882 759 295 0.7457180500658761 0.6271186440677966
24430099 536 220 0.7611940298507462 0.5545454545454546
24430096 97 535 0.9690721649484536 0.8785046728971962
737194 141 375 0.9858156028368794 0.9733333333333334
2498462 369 74 0.9701897018970189 0.9054054054054054
24460346 318 81 0.9465408805031447 0.9382716049382716
41302 214 134 0.883177570093458 0.29850746268656714
487129 192 194 0.828125 0.8195876288659794
633858 189 74 0.9629629629629629 0.8378378378378378
24395762 187 174 0.9411764705882353 0.7758620689655172
918408 75 181 0.9866666666666667 0.9668508287292817
483018 123 170 0.9512195121951219 0.9176470588235294
24414102 132 78 0.9621212121212122 0.9615384615384616
24414102 132 72 0.9621212121212122 0.9444444444444444
504688 128 100 0.953125 0.95
220061 104 126 0.9423076923076923 0.7142857142857143
24502580 42 113 1.0 0.9646017699115044
455462 89 106 0.9438202247191011 0.8867924528301887
429174 80 103 0.9625 0.941747572815534
808094 62 95 0.9838709677419355 0.968421052631579
123729 52 84 1.0 0.9047619047619048
867590 74 45 1.0 0.9111111111111111
24402489 51 69 1.0 0.8985507246376812
807969 38 56 1.0 0.8392857142857143
2126870 54 48 0.9814814814814815 0.7708333333333334

In [48]:
# show all eligible skus:
df_filtered[df_filtered['sku'].isin([x[0] for x in eligible_combo])]

           sku   suctionCup         p     n
5643    512663        small  0.997188  1067
2116  24388284        small  0.875648   965
1360   2145184        small  0.933893   953
1264    209882  large_type1  0.745718   759
1358   2145184  large_type2  0.968839   706
2115  24388284  large_type2  0.948760   605
2615  24430099        small  0.761194   536
2609  24430096        small  0.878505   535
6981    737194  large_type1  0.973333   375
3405   2498462  large_type2  0.970190   369
2793  24460346        small  0.946541   318
5642    512663  large_type2  1.000000   300
1265    209882  large_type2  0.627119   295
2613  24430099  large_type2  0.554545   220
4841     41302        small  0.883178   214
5323    487129        small  0.819588   194
5322    487129  large_type2  0.828125   192
6245    633858  large_type2  0.962963   189
2172  24395762  large_type2  0.941176   187
8101    918408        small  0.966851   181
2173  24395762         mini  0.775862   174
5287    483018        small  0.917647   170
6982    737194  large_type2  0.985816   141
4840     41302  large_type2  0.298507   134
2385  24414102        small  0.962121   132
5526    504688        small  0.953125   128
1391    220061         mini  0.714286   126
5286    483018  large_type2  0.951220   123
3076  24502580        small  0.964602   113
5085    455462        small  0.886792   106
1390    220061  large_type2  0.942308   104
4925    429174        small  0.941748   103
5525    504688  large_type2  0.950000   100
2607  24430096  large_type2  0.969072    97
7384    808094  large_type2  0.968421    95
5084    455462  large_type2  0.943820    89
340     123729        small  0.904762    84
2792  24460346  large_type2  0.938272    81
4924    429174  large_type2  0.962500    80
2384  24414102         mini  0.961538    78
8100    918408  large_type2  0.986667    75
3406   2498462         mini  0.905405    74
7789    867590        small  1.000000    74
6246    633858         mini  0.837838    74
2383  24414102  large_type2  0.944444    72
2328  24402489         mini  0.898551    69
7385    808094         mini  0.983871    62
7373    807969        small  0.839286    56
1327   2126870        small  0.981481    54
339     123729  large_type2  1.000000    52
2329  24402489        small  1.000000    51
1325   2126870  large_type2  0.770833    48
7788    867590         mini  0.911111    45
2614  24430099         mini  0.681818    44
3075  24502580  large_type2  1.000000    42
7372    807969  large_type2  1.000000    38
1326   2126870         mini  0.769231    26

## Perform AB test on the SKUs with enough data points.


* Take the suction cup with higher success rate as the control group
* Take the suction cup with lower success rate as the experiment group
* Perform AB test to confirm if they have 15% relative difference
* If the result is significant, check how many failed attempts can be converted into success.

In [49]:
from ABTestToolKit import get_two_sample_Z_test

significants = []

for combo in eligible_combo:
    sku = combo[0]
    
    # param
    baseline = combo[3]
    dmin = combo[5]
    n_ctl = combo[1]
    x_ctl =  n_ctl * baseline
    n_exp = combo[2]
    x_exp = n_exp * combo[4]
    alpha = 0.05
    
    
    # ab test
    _, p, _, _, _ = get_two_sample_Z_test(n_ctl, x_ctl, n_exp, x_exp, alpha)
    
    if p < alpha:
        n_convert = int(n_exp * baseline - x_exp)
        significants.append((sku, n_exp, n_convert))
        print(f"significant sku {sku}, can convert {n_convert} from failure to success")

control mean: 1.0
experiment mean: 0.9971883786316776
The confidence interval for the difference is [-0.0022, 0.0028, 0.0078]
statistics: 0.919424594997516
The p value: 0.3578735297045885
control mean: 0.9487603305785124
experiment mean: 0.8756476683937824
The confidence interval for the difference is [0.0480, 0.0731, 0.0983]
statistics: 4.781939713261551
The p value: 1.7361175121966e-06
significant sku 24388284, can convert 70 from failure to success
control mean: 0.9688385269121813
experiment mean: 0.9338929695697796
The confidence interval for the difference is [0.0169, 0.0349, 0.0530]
statistics: 3.1919210318507854
The p value: 0.0014132996609517168
significant sku 2145184, can convert 33 from failure to success
control mean: 0.7457180500658761
experiment mean: 0.6271186440677966
The confidence interval for the difference is [0.0675, 0.1186, 0.1697]
statistics: 3.819384950384808
The p value: 0.00013378484036374871
significant sku 209882, can convert 34 from failure to success
control mean: 0.7611940298507462
experiment mean: 0.5545454545454546
The confidence interval for the difference is [0.1464, 0.2066, 0.2669]
statistics: 5.637608251046453
The p value: 1.7242821392926544e-08
significant sku 24430099, can convert 45 from failure to success
control mean: 0.9690721649484536
experiment mean: 0.8785046728971962
The confidence interval for the difference is [0.0343, 0.0906, 0.1468]
statistics: 2.6484978857889914
The p value: 0.00808503549455164
significant sku 24430096, can convert 48 from failure to success
control mean: 0.9858156028368794
experiment mean: 0.9733333333333334
The confidence interval for the difference is [-0.0120, 0.0125, 0.0370]
statistics: 0.8383738138842439
The p value: 0.40182079157365314
control mean: 0.9701897018970189
experiment mean: 0.9054054054054054
The confidence interval for the difference is [0.0234, 0.0648, 0.1061]
statistics: 2.5761428145847014
The p value: 0.009990937081997275
significant sku 2498462, can convert 4 from failure to success
control mean: 0.9465408805031447
experiment mean: 0.9382716049382716
The confidence interval for the difference is [-0.0385, 0.0083, 0.0550]
statistics: 0.29109045593512267
The p value: 0.7709821390912248
control mean: 0.883177570093458
experiment mean: 0.29850746268656714
The confidence interval for the difference is [0.4987, 0.5847, 0.6706]
statistics: 11.188415238310283
The p value: 0.0
significant sku 41302, can convert 78 from failure to success
control mean: 0.828125
experiment mean: 0.8195876288659794
The confidence interval for the difference is [-0.0553, 0.0085, 0.0723]
statistics: 0.22014117321191265
The p value: 0.8257612096525566
control mean: 0.9629629629629629
experiment mean: 0.8378378378378378
The confidence interval for the difference is [0.0667, 0.1251, 0.1835]
statistics: 3.524499451633384
The p value: 0.0004242836929413407
significant sku 633858, can convert 9 from failure to success
control mean: 0.9411764705882353
experiment mean: 0.7758620689655172
The confidence interval for the difference is [0.1055, 0.1653, 0.2252]
statistics: 4.543541729731894
The p value: 5.53168484729305e-06
significant sku 24395762, can convert 28 from failure to success
control mean: 0.9866666666666667
experiment mean: 0.9668508287292817
The confidence interval for the difference is [-0.0170, 0.0198, 0.0567]
statistics: 0.8848173908216587
The p value: 0.3762551282715194
control mean: 0.9512195121951219
experiment mean: 0.9176470588235294
The confidence interval for the difference is [-0.0155, 0.0336, 0.0827]
statistics: 1.1245987191685594
The p value: 0.2607591167304162
control mean: 0.9621212121212122
experiment mean: 0.9615384615384616
The confidence interval for the difference is [-0.0444, 0.0006, 0.0456]
statistics: 0.021316011829443312
The p value: 0.9829935711483506
control mean: 0.9621212121212122
experiment mean: 0.9444444444444444
The confidence interval for the difference is [-0.0318, 0.0177, 0.0672]
statistics: 0.5875334417678263
The p value: 0.5568454974156776
control mean: 0.953125
experiment mean: 0.95
The confidence interval for the difference is [-0.0439, 0.0031, 0.0502]
statistics: 0.10926881178998947
The p value: 0.9129892830310258
control mean: 0.9423076923076923
experiment mean: 0.7142857142857143
The confidence interval for the difference is [0.1438, 0.2280, 0.3122]
statistics: 4.454910661165335
The p value: 8.39281361342259e-06
significant sku 220061, can convert 28 from failure to success
control mean: 1.0
experiment mean: 0.9646017699115044
The confidence interval for the difference is [-0.0117, 0.0354, 0.0825]
statistics: 1.2353578934897098
The p value: 0.21669733626301824
control mean: 0.9438202247191011
experiment mean: 0.8867924528301887
The confidence interval for the difference is [-0.0097, 0.0570, 0.1237]
statistics: 1.4061031577283931
The p value: 0.15969349485224082
control mean: 0.9625
experiment mean: 0.941747572815534
The confidence interval for the difference is [-0.0323, 0.0208, 0.0738]
statistics: 0.6439648617903171
The p value: 0.519598219874478
control mean: 0.9838709677419355
experiment mean: 0.968421052631579
The confidence interval for the difference is [-0.0269, 0.0154, 0.0578]
statistics: 0.6005620150800143
The p value: 0.5481317441606322
control mean: 1.0
experiment mean: 0.9047619047619048
The confidence interval for the difference is [0.0269, 0.0952, 0.1635]
statistics: 2.2938842084780044
The p value: 0.021797150722446146
significant sku 123729, can convert 8 from failure to success
control mean: 1.0
experiment mean: 0.9111111111111111
The confidence interval for the difference is [0.0328, 0.0889, 0.1449]
statistics: 2.608940407197754
The p value: 0.00908230574618063
significant sku 867590, can convert 4 from failure to success
control mean: 1.0
experiment mean: 0.8985507246376812
The confidence interval for the difference is [0.0303, 0.1014, 0.1726]
statistics: 2.3440181166380425
The p value: 0.019077244720424824
significant sku 24402489, can convert 7 from failure to success
control mean: 1.0
experiment mean: 0.8392857142857143
The confidence interval for the difference is [0.0590, 0.1607, 0.2624]
statistics: 2.5988038618958997
The p value: 0.009354920834063973
significant sku 807969, can convert 9 from failure to success
control mean: 0.9814814814814815
experiment mean: 0.7708333333333334
The confidence interval for the difference is [0.1055, 0.2106, 0.3158]
statistics: 3.295818993741339
The p value: 0.0009813522132759989
significant sku 2126870, can convert 10 from failure to success

In [50]:
significants

[('24388284', 965, 70),
 ('2145184', 953, 33),
 ('209882', 295, 34),
 ('24430099', 220, 45),
 ('24430096', 535, 48),
 ('2498462', 74, 4),
 ('41302', 134, 78),
 ('633858', 74, 9),
 ('24395762', 174, 28),
 ('220061', 126, 28),
 ('123729', 84, 8),
 ('867590', 45, 4),
 ('24402489', 69, 7),
 ('807969', 56, 9),
 ('2126870', 48, 10)]

In [51]:
len(significants)

15